<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JSPProj</display-name>
  <!-- 서블릿 등록 -->
	<servlet>
		<servlet-name>SERVLET_HELLO</servlet-name>
		<servlet-class>controller.HelloServlet</servlet-class>
	</servlet>
	<!--요청 URL매핑 -->
	<servlet-mapping>
		<servlet-name>SERVLET_HELLO</servlet-name>
		<url-pattern>/HelloServlet.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CALCULATOR</servlet-name>
		<servlet-class>controller.CalculatorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CALCULATOR</servlet-name>
		<url-pattern>/Calculator.kosmo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CONTENT_TYPE</servlet-name>
		<servlet-class>controller.ContentTypeServlet</servlet-class>
		
	</servlet>
	<servlet-mapping>
		<servlet-name>CONTENT_TYPE</servlet-name>
		<url-pattern>/Anidir/SomeDir/SetContentType.kosmo</url-pattern>
	</servlet-mapping>
	<!-- 컨텍스트 초기화 파라미터 등록 -->
	<context-param>
		<param-name>ORACLE_URL</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
	</context-param>
	<context-param>
		<param-name>ORACLE_DRIVER</param-name>
		<param-value>oracle.jdbc.OracleDriver</param-value>
	</context-param>
	<!-- 해당 JSP페이지에서만 사용 가능한 서블릿 초기화 파라미터 등록 (효용도 떨어짐) -->
	<servlet>
		<servlet-name>APPLICATION_JSP</servlet-name>
		<jsp-file>/BultinObject03/Application_1.jsp</jsp-file>
		<init-param>
			<param-name>SERVLET_INIT</param-name>
			<param-value>서블릿 초기화 파라미터 입니다</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>APPLICATION_JSP</servlet-name>
		<url-pattern>/BultinObject03/Application_1.jsp</url-pattern>
	</servlet-mapping>
	
	<!-- 회원제 게시판 페이징 관련 컨텍스트 초기화 파라미터 -->
	<context-param>
		<param-name>PAGE_SIZE</param-name>
		<param-value>5</param-value>
	</context-param>
	<context-param>
		<param-name>BLOCK_PAGE</param-name>
			<param-value>3</param-value>
	</context-param>
	
	<!-- 커넥션 풀 사용 -->
	<context-param>
		<param-name>JNDI_ROOT</param-name>
			<param-value>java:comp/env</param-value>
	</context-param>
	
	<!-- 세션의 유효시간 설정 (분단위) -->
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	<!-- 나만의 태그 라이브러리 등록 -->
	<jsp-config>
		<taglib>
			<taglib-uri>
			/WEB-INF/tld/mytag.tld
			</taglib-uri>
			<taglib-location>
			/WEB-INF/tld/mytag.tld
			</taglib-location>
		</taglib>
	</jsp-config>
	
  <welcome-file-list>
  	<welcome-file>HelloWorld.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>